{
  "plugins": [
    "jest-mock-external-components/babel",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@assets": "./src/assets",
          "@controllers": "./src/controllers",
          "@components": "./src/components",
          "@composites": "./src/composites",
          "@core": "./src/core",
          "@pages": "./src/pages",
          "@stores": "./src/stores",
          "@mui-nested-menu": "./src/mui-nested-menu",
          "@__mocks__": "./__mocks__"
        }
      }
    ]
  ]
}
