{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["prettier"],
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-unused-vars": "off",
    "no-console": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": false,
        "argsIgnorePattern": "^_"
      }
    ],
    "react/display-name": "off",
    "@typescript-eslint/ban-types": "off"
  },
  "overrides": [
    {
      "files": ["src/**/*.ts", "src/**/*.tsx"]
    }
  ],
  "globals": {
    "React": true,
    "JSX": true,
    "NodeJS": true
  },
  "env": {
    "jest": true,
    "node": true,
    "browser": true,
    "es6": true
  }
}
